
.cartwidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: beige;
}

.cart-cantidad {
  color: aquamarine;
  margin: 4px 0 0;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}
