
.CartWidget {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;
  line-height: 1;
}

.Cart-cantidad {
  color: aquamarine;
  margin: 4px 0 0;      
  font-weight: 600;
  font-size: 0.9rem;
}
