.nav {
    display: flex;
    height: 7rem;
    align-items: center;
    padding: 10px 20px;
    background-color: #2b2828;
}

.nav-logo {
    width: 8rem;
    height: 9rem;
}

.nav-list {
    flex: 1 1 auto;
    display: flex;
    list-style: none;
    justify-content: center;  /* centra los <li> dentro del ul */
    gap: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    color: #e5f322;
}


.nav-list li:hover {
    color: #98d355;
    transform: translateY(-2px);
}


