.nav {
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2b2828;
    gap: 20px;
}

.nav-logo {
    width: 8rem;
    height: 9rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.NavItem {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    color: #e5f322;
    
    text-decoration: none;
}


.nav-list .NavItem:hover {
    color: #98d355;
    transform: translateY(-2px);
}

.nav-list .NavItem.active {
    color: #98d355;
    text-decoration: underline;
}


